
# ARQUIVOS COMUNS
*.pyc
scheda
server/arquivos/
server/fotos/
server/pdf/
arquivos
fotos
pdf

# Ambiente Virtual
.venv/
env/

# Banco de Dados SQLite
*.db

# Cache do Python
__pycache__/

# Ignorar pastas de compilação do PyInstaller
build/
dist/

# Ignorar ficheiros executáveis soltos
*.exe